* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid red;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
    gap: 12px 80px;
    
}

h1 {
    font-size: 24px;
}

a {
    font-size: 18px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.imageMain {
    max-width: 36.75%;
    object-fit: scale-down;
    min-width: 270px;
    border-right: 20px;
}

.landing {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
    gap: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 350px;
    justify-content: center;
    border-left: 20px;
    padding: 0 20px;
}

h2 {
    font-size: 48px;
}

.p1 {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 10%;
    background-color: #3882f6;
    color: #f9faf8;
}

h3 {
    background-color: #f9faf8;
    font-size: 36px;
    text-align: center;
    padding: 40px 0;
}

.group1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 200px;
    gap: 4px;
    color: #1f2937;
    font-size: 18px;
    background-color: #f9faf8;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0 0 80px 0;
}

.icon {
    border-radius: 10%;
    border: 5px solid #3882f6;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 80px 20px 80px 20px;
    background-color: #e5e7eb;
}

.quote {
    max-width: 920px;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}