* {
    border: 1px solid red; 
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

.header-container, h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    gap: 20px;
    padding: 0px 100px;
}

.logo {
    display: flex;
    justify-content: ba;
}

.links {
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    display: flex;
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 0;

}

.main-container {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px ;
    padding: 20px 100px;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding: 80px 0 80px 0;
    gap: 5px;
    width: 50%;

}

button {
    padding: 4px 26px;
    border-radius: 10%;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    min-width: 120px;
}

h2 {
    display: flex;
    font-size: 5vw;
}

p {
    font-size: 18px;
}

#image-container {
    width: 50%;
}

img {
    width: 100px;
}